@import url(http://fonts.googleapis.com/css?family=Open\+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);
*
	border 0
	margin 0
	padding 0

body {
	font-family 'Open Sans', sans-serif
	font-size 16px
}

figure
	margin 0
	padding 0
	
footer
	background #333333
	height auto
	padding 1.2em 0 1.2em 0
	width 100%
	a:hover
		text-decoration underline

h1
	margin 0
	padding 0
	
h2
	font-family 'Lato', sans-serif
	
header
	background #2da862
	height auto
	opacity 0.9
	width 100%
	
span
	margin 0 10em 0 0
	
.Boton
	border-radius 5px
	border solid 1px #FFFFFF
	font-size .9em
	-webkit-border-radius 5px
	-moz-border-radius 5px
	-o-border-radius 5px
	-ms-border-radius 5px
	margin 0 0 2em 0
	padding 1em 0 1em 0
	text-align center
	width 17%
	a
		color #FFFFFF
		text-decoration none
	
.Columnas
	height auto
	margin 0 auto
	margin-bottom 100px
	margin-top 50px
	max-width 1200px
	text-align center
	width 100%
	.Col1
		display inline-block
		height 370px
		margin 0 .5em 0 .5em
		vertical-align top
		width 30%
		h2
			color #27ae60
			font-size 1em
			margin 0 0 1em 0
		p
			color #505252
			font-size .9em
			line-height 23px
			margin .7em 1em .7em 1em
		a
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
		a:hover
			-webkit-transform translate(0px, 10px)
			-moz-transform translate(0px, 10px)
			-o-transform translate(0px, 10px)
			-ms-transform translate(0px, 10px)
			transform translate(0px, 10px)
		.Ver-mas
			margin 2em 0 0 0
			
	.Col2
		display inline-block
		height 370px
		margin 0 .5em 0 .5em
		vertical-align top
		width 30%
		a
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
		a:hover
			-webkit-transform translate(0px, 10px)
			-moz-transform translate(0px, 10px)
			-o-transform translate(0px, 10px)
			-ms-transform translate(0px, 10px)
			transform translate(0px, 10px)
		h2
			color #27ae60
			font-size 1em
			margin 0 0 2em 0
		p
			color #505252
			font-size .9em
			line-height 23px
			margin 1em 1em 1em 1em
		.Ver-mas
			margin -.4em 0 0 0
	.Col3
		display inline-block
		height 370px
		margin 0 .5em 0 .5em
		vertical-align top
		width 30%
		a
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
		a:hover
			-webkit-transform translate(0px, 10px)
			-moz-transform translate(0px, 10px)
			-o-transform translate(0px, 10px)
			-ms-transform translate(0px, 10px)
			transform translate(0px, 10px)
		h2
			color #27ae60
			font-size 1em
			margin 0 0 1em 0
		p
			color #505252
			font-size .9em
			line-height 23px
			margin .7em 1em 1em 1em
		.Ver-mas
			margin 3.5em 0 0 0
a
	color #FFFFFF
	text-decoration none			
	.Contacto
		border solid 1px green
		border-radius 5px
		font-size 1.1em
		-webkit-border-radius 5px
		-moz-border-radius 5px
		-o-border-radius 5px
		-ms-border-radius 5px
		height auto
		padding 1.2em 0 1.2em 0
		text-align center
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		width 37%
		ul li
			display inline-block
			padding 0 .5em 0 0
			vertical-align middle
	.Contacto:hover
		background green
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
			
.contenedor-footer
	color #FFFFFF
	height auto
	margin 0 auto
	max-width 1200px
	text-align right
	width 100%
	a
		color #FFFFFF
		text-decoration none
	p
		font-size 0.8em
		font-style normal
		
.contenedor-perdidos
	height auto
	margin 0 auto
	margin-top 7em
	max-width 1200px
	width 100%
	a
		border solid 1px #333
		border-radius 5px
		-webkit-border-radius 5px
		-moz-border-radius 5px
		-o-border-radius 5px
		-ms-border-radius 5px
		color #FFFFFF
		padding .5em 1em .5em 1em
		text-decoration none
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
	a:hover
		background #333
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
	p
		margin 1em 0 1.5em 0
	h3
		color #FFFFFF
		font-size 0.9em
		font-weight 100
		margin-top 12px
			
.Testimonios
	height auto
	margin 0 auto
	margin-bottom 50px
	margin-top 50px
	max-width 1200px
	text-align center
	width 100%
	h2
		color #11d062
		margin 0 0 20px 0
	.col-test1
		color grey
		display inline-block
		font-style italic
		line-height 23px
		padding 0 1.5em 0 1.5em
		width 25%
		a
			color #11d062
			text-decoration none
	.col-test2
		color grey
		display inline-block
		font-style italic
		line-height 23px
		padding 0 1.5em 0 1.5em
		width 25%
		a
			color #11d062
			text-decoration none
	.col-test3
		color grey
		display inline-block
		font-style italic
		line-height 23px
		padding 0 1.5em 0 1.5em
		width 25%
		a
			color #11d062
			text-decoration none
		


.Contenido-contactos
	height auto
	margin 0 auto
	margin-top 2em
	max-width 1200px
	text-align center
	width 100%
	h2
		color #808080
		font-size 1.3em
		font-style italic
		margin 1em 0 2.5em 0
	ul li
		display inline-block
		list-style none
		margin 0 2em 0 2em
		padding 0 0 1em 0
		vertical-align top	
	a
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
	a:hover
		opacity 0.8
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		
.Contenedor
	background-image url('../img/centro.jpg')
	background-repeat no-repeat
	bbackground-position center
	background-size cover
	height 634px
	
.Contenedor-menu
	height auto
	margin 0 auto
	max-width 1200px
	padding .7em 0 .7em 0
	width 100%
	ul li
		display inline-block
		font-size .9em
		padding 0 0 0 .5em
		vertical-align middle
		a
			color #FFFFFF
			text-decoration none
			padding .5em .5em .5em .5em
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
		a:hover
			background #18663c
			padding .5em .5em .5em .5em
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
	span 
		color #FFFFFF
			

.Contenedor-razas
	height auto
	padding 5em 0 0 0
	margin 0 auto
	margin-top 2.5em
	max-width 1200px
	width 100%
	
.Contenido
	height auto
	margin 0 auto
	margin-bottom 1em
	margin-top 2em
	max-width 1200px
	width 100%
	.Col1-cont1
		display inline-block
		margin 1.5em 2em 0 0
		vertical-align top
		width auto
	.Col2-cont2
		display inline-block
		margin 2em 0 0 0
		vertical-align top
		width 65%
		h2
			color #27ae60
			font-size 1em
		p
			color grey
			font-size 0.9em
			line-height 25px
			margin .5em 0 3em 0
		.Titulos
			h2
				color #27ae60
				font-size 1em
			ul li
				display inline-block
				list-style none
				padding 0 .5em 0 0
	.VerMas-hojas
		margin -1.9em 0 5em 0
		a
			text-decoration none
		a:hover
			opacity 0.8
	.Texto-corto
		p
			margin .5em 0 1em 0
	.Cartel-modificado
		margin 0 0 5em 0			

.Forma
	margin 184px 0 0 0
	text-align center
			
.Generadores
	margin 0 auto
	margin-top 5em
	max-width 1300px
	text-align center
	width 100%
	h2
		color #808080
		font-style italic
		margin 2.5em 0 2em 0
	h3
		color #808080
		font-size .9em
		font-style italic
		margin 1em 0 0 0
	ul li
		display inline-block
		list-style none
		vertical-align top
		width 19%
		img
			border-radius 100%
			height auto
			overflow hidden
			max-width 150px
			width 100%
	img:hover
		opacity 0.7

.Logo
	margin 200px 0 0 20px
	width 50%
	img:hover
		opacity 0.7
	h2
		color #FFFFFF
		font-weight 100
		text-align left
		margin -.5em 0 .5em .5em
	ul li
		display inline-block
		list-style none
		margin 0 0 0 .7em
		
.Logo-interno
	border-bottom solid 1px #bebfc1
	height auto
	margin 0 auto
	margin-top 2em
	max-width 1200px
	padding-bottom .5em
	width 100%
	

.Todas-lasRazas
	height auto
	margin 0 auto
	margin-top 4em 
	max-width 1100px
	overflow hidden
	width 100%
	a
		background green
		border-radius 3px
		color #FFFFFF
		font-size 0.9em
		padding 0 .5em 0 .5em
	a:hover
		opacity 0.9
	h2
		margin 0 0 1em 0
	h3
		color green
		margin 0 0 .3em 0
	img
		height auto
		border-radius 100%
		-webkit-border-radius 100%
		-moz-border-radius 100%
		-o-border-radius 100%
		-ms-border-radius 100%
		float left
		margin 0 1em 0 1em
	p
		font-size 0.9em
		text-align justify
		line-height 26px
		margin 0 0 .5em 0
		
.Quien-soy
	height auto
	margin 0 auto
	max-width 1200px
	text-align center
	width 100%
	h2
		color grey
		font-style italic
		margin 0 0 .5em 0
	img
		margin 1.5em 0 0 0
	ul li
		display inline-block
		list-style none
		margin .5em 0 .5em 0
		padding 0 .5em 0 .5em
	p
		color grey
		font-style italic
		line-height 28px
		padding 0 1.5em 0 1.5em
		
.Perdidos
	background-image url('../img/perdidos.jpg')
	background-repeat no-repeat
	bbackground-position center
	background-size cover
	height 180px
	margin -70px 0 0 0
	h3
		margin 1.5em 0 0 0
	p
		color #FFFFFF
		padding 2em 0 0 0
		
.Razas
	background-image url('../img/razas.jpg')
	background-repeat no-repeat
	bbackground-position center
	background-size cover
	height 372px
	margin 0 0 70px 0
	h2
		color #FFFFFF
		font-size 2em
		font-weight 100
		padding 2em 0 .5em 0
		
.Redes-perfil
	ul li 
		a
			text-decoration none
		a:hover
			opacity 0.6
			
.Contenedor-delasRazas
	height auto
	margin 0 0 5em 0
	

.Seccion
	background #d3dbd7
	color green
	font-size 0.9em
	margin 0 auto
	margin-top .1em
	max-width 1195px
	padding .3em 0 .3em .3em	
	width auto
	

/* ****************** RWD **************************** */
@media screen and (min-width: 0px) and (max-width: 319px)
	*
		margin 0
		padding 0
	body
		background red
		margin 0 auto		
		width 97%
		
	.Columnas
		background green
		height auto
		margin-top 8em
		.Col1
			background blue
			height auto
			margin 0
			padding 0
			width 100%
		.Col2
			background blue
			height auto
			margin 0
			margin-top 3em
			padding 0
			width 100%
		.Col3
			background blue
			height auto
			margin 0
			margin-top 3em
			padding 0
			width 100%		
	.Forma
		display none
		
	.Quien-soy
		background blue
		margin-top -4em
		margin 0
		padding 0
		width 95%
		
	.Generadores
		background blue
		margin-top -2em
		width 95%
		ul li
			background green
			float none
			display block
			margin-bottom 4em
			margin-top -1em
			width 100%			
	.Perdidos
		background blue
		text-align center
		margin -5em 0 1em 0
	
	footer
		.contenedor-footer
			text-align center
			width 80%
			
	.Logo
		margin 0
		margin-top 1.5em
		text-align center
		width 100%
		img
			height auto
			width 100%
			
	.Contenedor
		background-image none
		background-repeat no-repeat
		bbackground-position center
		background-size cover
		margin 0
		padding 0
		height 250px
		
	.Contenedor-menu
		background salmon
		text-align center
		ul li
			width 90%

@media screen and (min-width: 320px) and (max-width: 479px)
	body
		background blue
		margin 0 auto
		width 97%
	.Columnas
		background green
		height auto
		margin-top 8em
		.Col1
			background blue
			height auto
			margin 0
			padding 0
			width 100%
		.Col2
			background blue
			height auto
			margin 0
			margin-top 3em
			padding 0
			width 100%
		.Col3
			background blue
			height auto
			margin 0
			margin-top 3em
			padding 0
			width 100%		
	.Forma
		display none
		
	.Quien-soy
		background blue
		margin-top -4em
		width 95%
		
	.Generadores
		background blue
		margin-top -2em
		width 95%
		ul li
			background green
			float none
			display block
			margin-bottom 4em
			margin-top -1em
			width 100%			
	.Perdidos
		background blue
		text-align center
		margin -5em 0 1em 0
	
	footer
		.contenedor-footer
			text-align center
			width 80%
			
	.Logo
		margin 0
		margin-top 1.5em
		text-align center
		width 100%
		img
			height auto
			width 100%
			
	.Contenedor
		background-image none
		background-repeat no-repeat
		bbackground-position center
		background-size cover
		height 250px
		
	.Contenedor-menu
		background salmon
		text-align center
		ul li
			width 90%

@media screen and (min-width: 480px) and (max-width: 759px)		
	body
		background green

@media screen and (min-width: 760px) and (max-width: 1019px)
	body
		background orange

@media screen and (min-width: 1019px) and (max-width: 1300px)		
	body
		background salmon