@import url(http://fonts.googleapis.com/css?family=Open\+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);

blanco = #FFFFFF
gris = #808080
titulos = #27ae60
verde = #008000

*
	border 0
	margin 0
	padding 0

body 
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-style normal
	font-weight 100
	
footer
	background #217c48
	height auto
	padding .5em 0 .5em 0
	width 100%
	a
		color blanco
		text-decoration none
	a:hover
		text-decoration underline
	p
		color blanco
		font-size .8em
		text-align center
	
nav
	background rgb(33, 124, 72)
	height auto
	width 100%
	ul
		padding .5em 0 .5em 1em
		li
			display inline-block
			list-style none
			padding 0 3em 0 0
			vertical-align top
			a
				color blanco
				font-size .9em
				padding .7em .5em .6em .5em
				text-decoration none
				-webkit-transition: all .5s ease-in-out
				-moz-transition: all .5s ease-in-out
				-o-transition: all .5s ease-in-out
				-ms-transition: all .5s ease-in-out
				transition: all .5s ease-in-out
			a:hover
				background #2da862
				padding .7em .5em .6em .5em
				-webkit-transition: all .5s ease-in-out
				-moz-transition: all .5s ease-in-out
				-o-transition: all .5s ease-in-out
				-ms-transition: all .5s ease-in-out
				transition: all .5s ease-in-out
				
.Accesos-facebook
	margin 1em 0 2em 0 
.Accesos-facebook:hover
	opacity 0.8
				
.Boton-verMas
	margin 3em 0 0 0
.Boton-verMas:hover
	opacity 0.8
.Btn-clientes
	margin 8.2em 0 0 0
				
.Contenedor-columnas
	height auto
	margin 0 auto
	margin-bottom 6em
	margin-top 4em
	max-width 1200px
	text-align center
	width 100%
	.Cols
		display inline-block
		height auto
		margin 0 .5em 0 .5em
		text-align center
		vertical-align top
		width 30%
		.Circulo
			img
				border solid 5px #2da862
				border-radius 100%
				-webkit-border-radius 100%
				-moz-border-radius 100%
				-o-border-radius 100%
				-ms-border-radius 100%
				height auto
		h2
			color #2da862
			font-size 1.3em
			margin 0 0 1em 0
		p
			color grey
			line-height 1.7em
			margin .5em 0 0 0
		.Diferente
			margin 6.3em 0 0 0
			
.Contenedor-contenido
	margin 0 auto
	margin-top 2em
	max-width 1200px
	width 100%
	aside
		display inline-block
		height auto
		vertical-align top
		width 25%
		ul li
			font-size .9em
			list-style none
			line-height 1.7em
			margin 0 0 1em 0
			a
				color green
				text-decoration none
			a:hover
				text-decoration underline
			span
				color blanco
				background green
				border-radius 3px
				-webkit-border-radius 100%
				-moz-border-radius 100%
				-o-border-radius 100%
				-ms-border-radius 100%
				padding 0 .3em 0 .3em
	.Contenido
		display inline-block
		height auto
		vertical-align top
		width 70%
		h2
			color titulos
			font-size 1.1em
			margin 0 0 .5em 0
		p
			color gris
			font-size .9em
			line-height 2em
			margin 0 0 1.5em 0
			text-align  justify
		
.Contenedor-influencia
	margin 0 auto
	margin-bottom 3em
	margin-top 5em
	max-width 1300px
	text-align center
	width 100%
	a
		text-decoration none
	h2
		color gris
		font-style italic
		margin 0 0 2em 0
	.Influencias
		ul li
			color gris
			display inline-block
			list-style none
			margin 0 1.5em 0 1.5em		
			img
				cursor pointer
				height auto
				border-radius 100%
				-webkit-border-radius 100%
				-moz-border-radius 100%
				-o-border-radius 100%
				-ms-border-radius 100%
			img:hover
				opacity 0.5
		h3
			font-style italic
			font-size .9em
			
.Contenedor-adiestramiento
	height auto
	margin 0 auto
	margin-top 2em
	max-width 1200px
	width 100%
		
.Columnas-adiestramiento
	color #808080
	font-style italic
	height auto
	line-height 1.8em
	margin 0 auto
	margin-bottom 3em
	margin-top 3em
	max-width 900px
	text-align center
	width 100%
	h2
		margin 0 0 .5em 0
		
.Contactos
	height auto
	margin 0 auto 
	margin-top 2em
	max-width 1205px
	width 100%
	p
		color #2da862
		font-size 3em
		text-align center

.Descripcion-seccion
	background #d3dbd7
	border-top solid 1px verde
	margin 0 auto
	margin-top 1em
	max-width 1200px
	padding .3em 0 .3em .3em
	width 100%
	p
		color verde
		font-size .8em
		
.Forma
	text-align center
	padding-top 11em
				
.Imagen-principal
	background-image url('../img/centro.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 550px
	.Logo
		color blanco
		padding 13em 0 0 1em
		h2
			font-style italic
			padding 0 0 -1em .5em

.Preheader
	color blanco
	background rgb(45, 168, 98)
	padding .3em 0 .3em 0
	text-align right
	width 100%
	a
		color blanco
		text-decoration none
	a:hover
		text-decoration underline
	p
		font-size .9em
		margin 0 1em 0 0
		
.Pre-footer
	height auto
	margin-bottom 2em
	margin-top 4em
	width 100%
	.Redes-personales
		max-width 1000px
		margin 0 auto
		width 100%
		ul 
			margin-top 1em
			text-align center
			li
				display inline-block
				list-style none
				padding .5em 1em .5em 1em
				vertical-align top
			li:hover
				-webkit-opacity 0.7
				-moz-opacity 0.7
				-o-opacity 0.7
				-ms-opacity 0.7
				opacity 0.7
		
@media screen and (min-width: 0px) and (max-width: 319px)
	footer
		p
			text-align center
	nav
		ul
			padding 0
	nav
		ul li
			border-bottom solid 1px #2da862
			display block
			float none
			text-align left
			margin-bottom 0
			padding .5em 0 .5em .5em
	.Columnas-adiestramiento
		margin-top -5em
		width 98%
	.Contenedor-columnas
		margin-top 2em
		width 98%
		.Cols
			margin 0
			padding 0
			width 100%
			.Boton-verMas
				margin-bottom 5em
				margin-top .5em
	.Contenedor-influencia
		margin-top -2em
		width 98%
		.Influencias
			li
				h3
					margin-bottom 3em				
	.Forma
		display none	
	.Logo
		h2
			font-size 1.3em
		img
			height auto
			max-width 390px
			margin 9em 0 0 0 
			width 100%
	.Preheader
		p
			font-size 1.1em
			line-height 1.8em
			text-align left
			padding 0 0 0 .5em
			
	.Logo-interno
		img
			height auto
			width 100%
			
	.Contenedor-contenido
		width 100%
		aside
			display none
		.Contenido
			margin-bottom 3em
			margin-top -1.5em
			width 100%
			h2
				margin-left .5em
			p
				margin 0 auto
				width 95%
			.Accesos-facebook
				img
					height auto
					width 100%
	.Descripcion-seccion
		width 98%

@media screen and (min-width: 320px) and (max-width: 479px)
	footer
		p
			font-size 1.1em
			text-align center
	nav
		ul
			padding 0
	nav
		ul li
			border-bottom solid 1px #2da862
			display block
			float none
			text-align left
			margin-bottom 0
			padding .7em 0 .7em .5em
	.Columnas-adiestramiento
		margin-top -5em
		width 90%
	.Contenedor-columnas
		margin-top 3em
		width 98%
		.Cols
			margin 0
			padding 0
			width 100%
			.Boton-verMas
				margin-bottom 5em
				margin-top .5em
	.Contenedor-influencia
		margin-bottom -2em
		margin-top 2.5em
		width 98%
		h2
			margin-bottom .8em
		.Influencias
			li
				h3
					font-size 1.5em
					margin-bottom 3em				
	.Forma
		display none
	.Logo
		h2
			font-size 1.3em
		img
			height auto
			max-width 390px
			margin 9em 0 0 0 
			width 100%
	.Preheader
		p
			font-size 1.1em
			line-height 1.8em
			text-align left
			padding 0 0 0 .5em
	.Logo-interno
		text-align center
		img
			height auto
			width 80%			
	.Contenedor-contenido
		margin-top .3em
		width 100%
		aside
			display none
			img
				height auto
				width 100%
		.Contenido
			margin-bottom 3em
			margin-top .5em
			width 100%
			h2
				margin-left .5em
			p
				margin 0 auto
				width 95%
			.Accesos-facebook
				img
					height auto
					width 86%
	.Descripcion-seccion
		width 98%

@media screen and (min-width: 480px) and (max-width: 759px)
	footer
		p
			font-size 1.1em
			text-align center
	nav
		ul
			padding 0
	nav
		ul li
			border-bottom solid 1px #2da862
			display block
			float none
			text-align left
			margin-bottom 0
			padding .5em 0 .5em .5em
	.Columnas-adiestramiento
		margin-top -5em
		width 90%
	.Contenedor-columnas
		margin-top 3em
		width 90%
		.Cols
			margin 0
			padding 0
			width 100%
			.Boton-verMas
				margin-bottom 5em
				margin-top .5em
	.Contenedor-influencia
		margin-top 2em
		width 60%
		.Influencias
			li
				h3
					margin-bottom 3em				
	.Forma
		display none
	.Logo
		h2
			font-size 1.3em
		img
			height auto
			max-width 390px
			margin 9em 0 0 0 
			width 100%
	.Preheader
		p
			font-size 1.1em
			line-height 1.8em
			text-align left
			padding 0 0 0 .5em
			
	.Logo-interno
		text-align center
		img
			height auto
			width 50%
			
	.Contenedor-contenido
		width 100%
		aside
			display none
		.Contenido
			margin-bottom 3em
			margin-top -1.5em
			width 100%
			h2
				margin-left .5em
			p
				margin 0 auto
				width 95%
			.Accesos-facebook
				img
					height auto
					width 80%
	.Descripcion-seccion
		width 98%

@media screen and (min-width: 760px) and (max-width: 1019px)
	.Contenedor-columnas
		.Cols
			margin 0
			margin 0 .7em 0 .7em
			padding 0
			width 30%
			h2
				font-size 1em
			p
				font-size .8em
			.Btn-clientes-2
				margin-top 1.4em
	.Contenedor-influencia
		.Influencias
			h3
				margin 0 0 4em 0
	.Columnas-adiestramiento
		width 80%		
	.Forma
		margin-top -4.5em		
	.Logo
		h2
			font-size 1.3em
		img
			height auto
			max-width 390px
			margin 5em 0 0 0 
			width 100%			
	.Logo-interno
		text-align center
		img
			height auto
			width 40%
			
	.Contenedor-contenido
		width 100%
		aside
			margin 0 1em 0 .5em
		.Contenido
			margin 0 0 0 5em
			width 55%
	.Descripcion-seccion
		width 98%
	
	.Preheader
		p
			text-align left
			padding 0 0 0 1em
					
@media screen and (min-width: 1020px)		
	.Contenedor-contenido
		width 100%
		aside
			margin 0 0 0 .5em
		.Contenido
			margin 0 0 0 3em
			width 65%
	.Descripcion-seccion
		width 98%
	
	

