@import url(http://fonts.googleapis.com/css?family=Open\+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);

blanco = #FFFFFF
gris = #808080
titulos = #27ae60
verde = #008000

*
	border 0
	margin 0
	padding 0

body 
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-style normal
	font-weight 100
	width 100%
	
footer
	background #217c48
	height auto
	padding .5em 0 .5em 0
	width 100%
	a
		color blanco
		text-decoration none
	a:hover
		text-decoration underline
	p
		color blanco
		font-size .8em
		text-align center
	
nav
	background rgb(33, 124, 72)
	height auto
	width 100%
	ul
		padding .5em 0 .5em 1em
		li
			display inline-block
			list-style none
			padding 0 3em 0 0
			vertical-align top
			a
				color blanco
				font-size .9em
				text-decoration none
				
.Accesos-facebook
	margin 1em 0 2em 0 
a
	color blanco
	font-weight 500
	text-decoration none			
	.Boton-verMas
		background #11cf61
		border-bottom solid 5px green
		border-radius 3px
		-webkit-border-radius 3px
		-moz-border-radius 3px
		-o-border-radius 3px
		-ms-border-radius 3px
		margin 0 auto
		margin-top .5em
		padding .5em 0 .5em 0
		width 40%
	.Boton-verMas:hover
		background green
		border-bottom solid 5px #11cf61
				
.Contenedor-columnas
	display flex
	display -webkit-flex
	display -moz-flex
	display -o-flex
	display -ms-flex
	flex-direction row
	-webkit-flex-direction row
	-moz-flex-direction row
	-o-flex-direction row
	-ms-flex-direction row
	justify-content space-between
	-webkit-justify-content space-between
	-moz-justify-content space-between
	-o-justify-content space-between
	-ms-justify-content space-between
	margin 1.5em 0 0 0
	text-align center
	padding 1em	
	h2
		color #2da862
		font-size 1.1em
		margin 0 0 2em 0
	p
		color gris
		font-size .9em
		line-height 1.7em

	.Col1
		margin 0 0 1em 1em
		width 27%
	.Col2
		margin 0 0 1em 1em
		width 27%
	.Col3
		margin 0 0 1em 1em
		width 27%
			
.Contenedor-contenido
	display flex
	display -webkit-flex
	flex-direction row
	justify-content space-between
	margin 0 auto
	max-width 1205px
	width 100%
	aside
		height auto 
		margin 0 .5 0 1em
		width 25%
		ul 
			li
				font-size .9em
				list-style none 
				margin 0 0 2em 0
				padding .5em 1em 0 1em
				a
					color verde
	.Contenido
		height auto
		width 73%
		h2
			font-size 1em
		
.Contenedor-influencia
	margin 0 auto
	margin-bottom 3em
	margin-top 5em
	max-width 1300px
	text-align center
	width 100%
	a
		text-decoration none
	h2
		color gris
		font-style italic
		margin 0 0 2em 0
	.Influencias
		ul li
			color gris
			display inline-block
			list-style none	
			img
				cursor pointer
				height auto
				border-radius 100%
				-webkit-border-radius 100%
				-moz-border-radius 100%
				-o-border-radius 100%
				-ms-border-radius 100%
				width 70%
			img:hover
				opacity 0.5
		h3
			font-style italic
			font-size 80%
			text-align center
			
.Contenedor-adiestramiento
	height auto
	margin 0 auto
	margin-top 2em
	max-width 1200px
	width 100%
		
.Columnas-adiestramiento
	color #808080
	font-style italic
	height auto
	line-height 1.8em
	margin 0 auto
	margin-bottom 3em
	margin-top 3em
	max-width 900px
	text-align center
	width 100%
	h2
		margin 0 0 .5em 0

.Descripcion-seccion
	background #d3dbd7
	border-top solid 1px verde
	margin 0 auto
	margin-bottom 2em
	margin-top 1em
	max-width 1200px
	padding .3em 0 .3em .3em
	width 100%
	p
		color verde
		font-size .8em
		
.Forma
	text-align center
	padding-top 11em
				
.Imagen-principal
	background-image url('../img/centro.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 550px
	.Logo
		color blanco
		padding 13em 0 0 1em
		img
			height auto
			max-width 390px
			width 90%
		h2
			font-style italic
			padding 0 0 -1em .5em

.Preheader
	color blanco
	background rgb(45, 168, 98)
	padding .3em 0 .3em 0
	text-align right
	width 100%
	a
		color blanco
		text-decoration none
	a:hover
		text-decoration underline
	p
		font-size .9em
		margin 0 1em 0 0
		
.Pre-footer
	height auto
	margin 0 auto
	margin-bottom 1em
	max-width 1000px
	width 100%
	.Redes-personales
		display flex
		display -webkit-flex
		display -moz-flex
		display -o-flex
		display -ms-flex
		-webkit-flex-direction row
		-moz-flex-direction row
		-o-flex-direction row
		-ms-flex-direction row
		-webkit-justify-content center
		-moz-justify-content center
		-o-justify-content center
		-ms-justify-content center
		list-style none
		li
			padding 0 1em 0 1em
			

/* ******************* RWD ****************** */

@media screen and (min-width: 0px) and (max-width: 319px)
	.Descripcion-seccion
		width 93%
	nav
		margin 0
		padding 0
		ul
			margin 0
			padding 0
			li
				border-bottom solid 1px #2DA862
				float none
				display block
				padding .3em 0 .3em .5em
	.Contenedor-columnas
		display flex
		flex-direction column
		text-align center
		margin 1em 0 0 0
		padding 0
		width 100%
		.Col1
			margin 0
			padding 0
			width 100%
			a
				.Boton-verMas
					margin-bottom 2.5em
			h2
				margin 0
				padding 0
		.Col2
			margin 0
			padding 0
			width 100%
			a
				.Boton-verMas
					margin-bottom 2.5em
			h2
				margin 0
				padding 0
		.Col3
			margin 0
			padding 0
			width 100%
			h2
				margin 0
				padding 0
	.Imagen-principal 
		.Logo
			img
				height auto
				width 90%
				
	.Preheader
		p
			text-align left
			line-height 1.4em
			padding 0 0 0 .5em
			
	.Forma
		margin 1.5em 0 0 0
		
	.Contenedor-influencia
		margin-top 1.5em
		h3
			margin-bottom 3em
	.Pre-footer
		
	.Logo-interno
		text-align center
		img
			width 90%
			
	.Contenedor-contenido
		display flex
		flex-direction column
		aside
			display none
		.Contenido
			width 100%
			h2
				padding-left .8em
			img
				height auto
				width 100%
			p
				padding 0 1em

@media screen and (min-width: 321px) and (max-width: 479px)
	.Descripcion-seccion
		width 93%
	nav
		margin 0
		padding 0
		ul
			margin 0
			padding 0
			li
				font-size 1.2em
				border-bottom solid 1px #2DA862
				float none
				display block
				padding .5em 0 .5em .5em
	.Contenedor-columnas
		display flex
		flex-direction column
		text-align center
		margin 1em 0 0 0
		padding 0
		width 100%
		.Col1
			margin 0 0 1em 0
			padding 0
			width 100%
			h2
				margin 1em 0 .7em 0
		.Col2
			margin 0 0 1em 0
			padding 0
			width 100%
			h2
				margin 1em 0 .7em 0
		.Col3
			margin 0 0 1em 0
			padding 0
			width 100%
			h2
				margin 1em 0 .7em 0
	.Contenedor-influencia
		margin 4em 0 0 0
		.Influencias
			padding .5em 0 .5em 0
			h3
				margin 0 0 2.2em 0
			img
				height auto
				width 90%
	
	.Preheader
		p
			text-align left
			line-height 1.4em
			padding 0 0 0 .5em			
	
	.Forma
		margin .9em 0 0 0
		
	.Logo-interno
		text-align center
		img
			width 90%
			
	.Contenedor-influencia
		margin-top 1.5em
		h3
			margin-bottom 3em
			
	.Contenedor-contenido
		display flex
		flex-direction column
		aside
			display none
		.Contenido
			width 100%
			h2
				padding-left .8em
			img
				height auto
				width 100%
			p
				padding 0 1em

@media screen and (min-width: 481px) and (max-width: 759px)
	nav
		margin 0
		padding 0
		ul
			margin 0
			padding 0
			li
				padding .3em 0 .3em 1em
	.Contenedor-columnas
		.Col1
			width 40%
			img
				height auto
				max-width 101px
				width 100%
			a
				.Boton-verMas
					width 70%
			h2
				font-size 100%
				margin 0 0 .5em 0
		.Col2
			width 40%
			img
				height auto
				max-width 145px
				width 100%
			a
				.Boton-verMas
					width 70%
			h2
				font-size 100%
				margin 0 0 .5em 0
		.Col3
			width 40%
			img
				height auto
				max-width 101px
				width 100%
			a
				.Boton-verMas
					width 70%
			h2
				font-size 100%
				margin 0 0 .5em 0
				
	.Contenedor-influencia
		margin 2em 0 0 0
		.Influencias
			padding .5em 0 .5em 0
			h3
				margin 0 0 2.2em 0
				
	.Preheader
		p
			text-align left
			line-height 1.4em
			padding 0 0 0 .5em		
			

	.Preheader
		p
			padding 0 0 0 1.3em		
			
	.Logo-interno
		text-align center
		img
			width 80%	
	
	.Contenedor-contenido
		aside
			margin 0 .5em 0 .5em
			img
				height auto
				width 100%
		.Contenido
			width 80%
			h2
				margin 0 0 .5em 0
				padding-left .8em
			img
				height auto
				max-width 391px
				width 100%
			p
				padding 0 1em	

@media screen and (min-width: 761px) and (max-width: 1019px)
	.Contenedor-columnas
		.Col1
			h2
				font-size .9em
				margin -.3em 0 .7em 0
			a
				.Boton-verMas
					width 80%
				
		.Col2
			h2
				font-size .9em
				margin -.3em 0 .7em 0
			a
				.Boton-verMas
					width 80%
					
		.Col3
			h2
				font-size .9em
				margin -.3em 0 .7em 0
			a
				.Boton-verMas
					width 80%
	
	.Contenedor-influencia
		margin 2em 0 0 0
		width 100%
		.Influencias
			padding 3em 0 .5em 0
			h3
				margin 0 0 3em 0
			img
				height auto
				width 80%
				
	.Preheader
		p
			text-align left
			padding 0 0 0 1.2em
	.Descripcion-seccion
		width 95%
		

	.Contenedor-contenido
		aside
			margin 0 .5em 0 .5em
			img
				height auto
				width 100%
		.Contenido
			width 100%
			h2
				margin 0 0 .5em 0	
				padding-left .8em
			img
				height auto
				max-width 391px
				width 100%
			p
				padding 0 1em
/* ******************* RWD ****************** */